@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

abbr {
  text-decoration: none;
}

#quote-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 34rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 5px;
}

#text {
  text-align: center;
  color: var(--color);
  transition: color 1s ease;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

#author {
  text-align: right;
  color: var(--color);
  transition: color 1s ease;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

#new-quote, #tweet-quote, #tumblr-quote {
  background-color: var(--color);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  transition: background-color 1s ease;
  border-radius: 5px;
}

#new-quote{
  padding: 0 1.5rem;
  cursor: pointer;
}

#tweet-quote, #tumblr-quote{
  text-decoration: none;
  width: 2.5rem;
}

.share-btns {
  display: flex;
  gap: .4rem;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-container :hover{
  opacity: .8;
}
